body {
  display: flex;
  flex-direction: column;
  margin: 0px auto;
  font-family: "Public Sans", Arial;
  height: 11in;
  width: 8.5in;
}

.Top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #dce9d9;
  height: 12%;
  border-bottom: solid black 2px;
}

.Top h1 {
  text-transform: uppercase;
}

.Top h1 span {
  color: #066600;
}

.ContactCard {
  margin-right: 1em;
  margin-top: auto;
  margin-bottom: auto;
  font-size: small;
  text-decoration-line: none;
}

.ContactCard div {
  margin: 0.25em 0;
  display: flex;
  flex-direction: row;
}

.ContactCard span {
  margin-left: 0.5em;
}

.ContactCard a {
  text-decoration-line: none;
}

.Name {
  margin-left: 1em;
}

.Name p {
  margin-top: 0em;
}

.Name h1 {
  margin-bottom: 0.3em;
  font-size: 2.5em;
}

.Additional-employment {
  margin-top: 2em;
}

h2 {
  background-color: #dce9d9;
  padding-block-start: 0.25em;
  padding-block-end: 0.25em;
  margin-block-start: 0em;
  margin-block-end: 0em;
  padding-left: 1em;
  color: #066600;
}

.LeftSide h2 {
  padding-left: 0em;
}

.Bottom {
  display: flex;
  flex-direction: row;
}

.LeftSide {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: calc(25% - 2px);
  padding-top: 1em;
  padding-left: 1em;
  padding-right: 1em;
  background-color: #dce9d9;
  border-right: black solid 2px;
}

.LeftSide h3 {
  margin: 0.5em 0em;
  font-size: 1em;
}

.SkillsBody {
  display: flex;
  justify-content: space-around;
}

.Languages h3 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.Tools h3 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.Skills ul {
  margin-top: 0.5em;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding-left: 0.5em;
}

.Skills li {
  margin: 0 0.75em;
}

.RightSide {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 75%;
  /* margin-top: 1em; */
  /* margin-left: 1em;
  margin-right: 1em; */
}

.RightSide section {
  /* margin-top: 2em; */
}

.ForPrint {
  visibility: collapse;
  position: absolute;
  left: 0px;
  top: 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

@media print {
  section.Projects {
    /* margin-bottom: 5em; */
  }
  .ForPrint {
    visibility: inherit;
  }
  .ForWeb {
    visibility: collapse;
    overflow: hidden;
  }
}

.CertCard,
.EduCard,
.WorkCard {
  margin-top: 0.5em;
  margin-inline-start: 1em;
}

.ProgCard {
  margin-top: 0.5em;
  margin-inline-start: 1em;
}

i {
  margin: 0;
  width: 20px;
  text-align: center;
}

.WorkCard {
  display: flex;
  flex-direction: column;
}

.WorkCard b {
  font-size: 1.1em;
  margin-bottom: 0.5em;
}

.WorkCard ul {
  margin-block-start: 0.5em;
  margin-block-end: 0.75em;
}

.WorkHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.ForPrint a,
.WorkRight {
  padding-right: 5px;
}

.Publications {
  display: flex;
  flex-direction: row;
  margin-top: 0.5em;
  margin-left: 1em;
  justify-content: space-between;
  position: relative;
}

/* .Certifications {
  margin-bottom: 1em;
} */

.CertCard {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.activity {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
  justify-content: space-between;
}

.EduCardHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.25em;
}

.EduCard {
  margin-top: 1em;
}

.ProjectCard {
  position: relative;
  margin-left: 1em;
  margin-top: 0.75em;
}

.ToolsList {
  display: block !important;
  width: 100%;
  columns: 2;
}

.Tools {
  width: 65%;
}
.ProjectCard p {
  margin-top: 0.5em;
}
.jwd {
  margin-bottom: 1em;
}

@media print {
  #Breaks {
    margin-top: 4.5em;
  }
  #Break {
    margin-top: 6em;
  }
  #Breaks_2 {
    margin-top: 2em;
  }
}
