body {
  display: flex;
  flex-direction: column;
  margin: 0px auto;
  font-family: 'Merriweather', serif;
  height: 11in;
  width: 8.5in;
}

.Top {
  display: flex;
  flex-direction: row;
  justify-content: space-between; 
  background-color: #457EAC66;
  height: 15%;
  /*! overflow-y: hidden; */
}

.Name {
  margin-left:1em;
}

.Name p {
  margin-top: 0em;
}

.Name h1 {
  margin-bottom: 0.3em;
  font-size: 2.5em;
}

.Bottom {
  display: flex;
  flex-direction: row;
  height: 85%;
  /*! overflow-y: hidden; */
}

.Left {
  background-color: #457EAC30;
  display: flex;
  flex-direction: column;
  width: 30%;
  padding-left:1em;
  padding-right:1em;
  height: 100%;
}

.Left h2 {
  text-align: center;
  text-decoration: underline;
  margin-top: 0.5em;
  margin-bottom: 0em;
  font-size: 1.25em;
}

.Right {
  display: flex;
  flex-direction: column;
  width: 70%;
}

.Left h3 {
  margin: 0.5em 0em;
  font-size: 1.1em;
}

.Skills ul {
  margin-top: 0.5em;
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  padding-left: 0.5em;
}

.Skills li {
  margin: 0 0.75em;
}

.ContactCard {
  margin-right: 1em;
  margin-top: auto;
  margin-bottom: auto;
}

.ContactCard div {
  margin: 0.25em 0;
  display: flex;
  flex-direction: row;
}

.ContactCard span {
  margin-left: 0.5em;
}

.Main {
  margin-left: 1.5em;
}

.CertCard, .EduCard {
  margin-top: 0.5em;
}

i {
  margin: 0;
  width: 20px;
  text-align: center;
}

.WorkCard {
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
  padding-right: 1em;
}

.WorkCard b {
  font-size: 1.1em;
  margin-bottom: 0.5em;
}